.border{
  border: 1px solid $BorderGray;
}
.shadow{
  box-shadow: 0 5px 5px rgba(0,0,0, 0.02);
}
.no-padding-md{
  padding: 0;
  @include screen('tablet') {
    padding:0 15px;
  }
}
.has-fixed-nav{
  padding-top: 55px;
  @include screen('tablet') {
    padding-top:100px;
  }
}