<div class="well">
    <div class="sec-title">
        <h4 id="foster-agency-title" class="pull-left primary">Foster agencies in your zip code</h4>
        <a href="javascript:void(0);" class="btn btn-default btn-wide btn-sm pull-right hidden-sm hidden-xs" ng-click="print()"> <span class="hide">Print</span> <i class="icon-print"></i></a>
        <div class="clearfix"></div>
        <hr>
    </div>

    <div class="list-group list-group-custom foster-agencies">
        <h5 id="no-foster-agencies-message" ng-show="fosterAgencies.length == 0">There were no Foster Agencies found in your zip code.</h5>
        <a href="javascript:void(0);" class="list-group-item" ng-repeat="fosterAgency in fosterAgencies">
            <div class="number-circle">
                <p>{{$index+1}}</p>
            </div>
            <h5 id="foster-agency-name" class="primary">{{fosterAgency.facility_name}}</h5>
            <p>
                <span id="foster-agency-facility-type">{{fosterAgency.facility_type}}</span> | <span id="foster-agency-phone">{{fosterAgency.facility_phone}}</span><br/>
                <span id="foster-agency-location">{{fosterAgency.location_address}}, {{fosterAgency.location_city}}, {{fosterAgency.location_state}} <span id="foster-agency-zip">{{fosterAgency.location_zip}}</span></span>
            </p>
        </a>
    </div>


</div>