<div class="full-image-bg">
    <div class="well well-lg well-log">

        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="asset/img/1.jpg" />
                </li>
                <li>
                    <img src="asset/img/2.jpg" />
                </li>
                <li>
                    <img src="asset/img/3.jpg" />
                </li>
                <li>
                    <img src="asset/img/4.jpg" />
                </li>
                <li>
                    <img src="asset/img/5.jpg" />
                </li>
            </ul>
        </div>

        <div class="logform">
            <a class="brand" href="#">
                <img src="asset/img/logo.png" alt="Parent & Guardian Portal">
            </a>
            <h6 class="primary text-center">Parent Portal</h6>


            <div ui-view="">

            </div>

            <p>Need to <a href="#/create-profile" ui-sref="createprofile">Register</a>?</p>

        </div>
        <div class="clearfix"></div>
    </div>
</div>