<fomr action="#" method="post" class="fpasswordForm">
    <div class="form-group">
        <label class="control-label" for="email"><i class="icon-user"></i> Email</label>
        <input type="text" class="form-control" id="email" placeholder="Enter your email" disabled>
    </div>


    <input type="submit" class="btn btn-primary btn-block" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" title="Prototype Note" data-content="Optional feature requested by users, not implemented for this prototype. Please click Log In if you already have an account; or click Create Profile to create an account."  value="SEND PASSWORD">
</fomr>
<a href="#/login" class="btn btn-block" ui-sref="authentication.login">Log in</a>
